@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss/theme.css";
@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme {
  /* Custom Font sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-xs--line-height: calc(1 / 0.75);
  --text-sm: 0.875rem;
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-base: 1rem;
  --text-base--line-height: calc(1.5 / 1);
  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: calc(1.5 / 1.25);
  --text-2xl: 1.5rem; /* 24px */
  --text-2xl--line-height: calc(1.5 / 1.5);
  --text-3xl: 1.75rem; /* 28px */
  --text-3xl--line-height: calc(1.5 / 1.75);
  --text-4xl: 3rem; /* 48px */
  --text-4xl--line-height: 1;
  --text-8xl: 6rem; /* 96px */
  --text-8xl--line-height: 1;

  /* Custom Font Families */
  --font-palanquin: "palanquin", sans-serif;
  --font-montserrat: "montserrat", sans-serif;

  /* Custom colors */
  --color-primary: #eceeff;
  --color-coral-red: #ff6452;
  --color-slate-gray: #6d6d6d;
  --color-pale-blue: #eff0fd;
  --color-white-400: rgba(255, 255, 255, 0.8);

  /* Custom shadows */
  --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

  /* Custom screen size (break point) */
  --breakpoint-wide: 1440px;

  --bg-hero: url(src/assets/images/collection-background.svg);
  --bg-card: url(src/assets/images/thumbnail-background.svg);
}
/* --spacing : 0.25rem  -> 4px*/
@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }
}
@layer utilities {
  .my {
    @apply bg-red-50;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
